* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }



.alignright {
  float: right;
  padding: 0 0 10px 10px; /* padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /*padding around a left floated image */
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: black;
  font-size: 16px;
  line-height: 1.4;
  font-family:'Open Sans', Helvetica, Arial, Sans-serif ;
  font-weight: 300;
  background-color: #f0efef;
}
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-color: #f0efef;
}

/*header********/
  header {
    text-align: center;
    width: 100%;
  }
  .nav { /*real nav not hamburger*/
    text-align: center;
    background: gray;
    height: 3%;
    margin-bottom: 30px;
  }
  .nav li { /*real nav not hamburger*/
    font-size: 20px;
    color: black;
    list-style: none;
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    padding-top: 6px;
  }
  header .nav li a { /*real nav not hamburger*/
    text-decoration: none;
    color: white;
  }
  header h1 {
    font-family: 'Just Another Hand', Arial, Sans-serif;
    font-size:160px;
    font-weight: 50;
    margin-top: 10px;
  }
  header h2 {
    font-family: 'Great Vibes', Arial, Sans-serif;
    font-size: 85px;
    padding-left: 585px;
    color: #00BFFF;
    margin-top: -140px;
  }
  .with-rms {
    display: none;
  }
  nav .line{
  width: 3em;
  height: .3em;
  background: gray;
  border-radius: 2em;
  margin-top: .5em;
  }
  nav .line:first-of-type{
    margin-top:.7em;
  }
  .nav-btn {
    display:none;
  }
  nav .nav-btn {
    float: right;
    /*display: none;*/
    cursor: pointer;
  }
/**********/

/*indexpage****/
  .map {
    height: 700px;
    margin-top: 10px;
  }
  .aboutme {
    max-height: 500px;
    min-height: 400px;
    background: gray;
    color: white;
    margin-bottom: 60px;
  }
  .aboutme p{
    width: 95%;
    margin-top: -30px;
    margin-left: 20px;
    padding-top: 10px;
  }
  .aboutme h2 {
    color: #00BFFF;
    font-family: 'Just Another Hand';
    font-size: 60px;
    padding-left: 20px;
    padding-bottom: -20px;
    word-spacing: 10px;
    letter-spacing: 4px;
  }
  .rachel {
    height: 325px;
    width: 350px;
    float: left;
    padding: 0px 20px 20px 20px;
  }

  .high {
    color: #00BFFF;
    font-family: 'Great Vibes';
    font-size: 28px;
  }

  .intro {
    font-size: 40px;
    color: gray;
    text-align: center;
    color: #FFA500;
    font-family: 'Just Another Hand';
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .intro p {
    margin: -10px;
  }

  .orange {
  color:#FFA500 ;
  font-weight: 800;
  }
/********/

/*map*/
  #vmap {
    width: 700px; 
    height: 450px;
    margin: 0 auto;
    float: center;
    /*margin-left: 60px;*/
    margin-top: 20px;
  }
  .maps .cf{
    max-width: 980px;
    max-height: 550px;
  }
  .maps {
    width: 98%;
    height: 600px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
  }
  .maps h3 {
    font-size: 60px;
    font-family: 'Just Another Hand';
    margin-bottom: -20px;
    word-spacing: 10px;
    letter-spacing: 4px;

  }
  .maps h5 {
    padding-bottom: 10px;
  }

  .ticker {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-family: 'Just Another Hand';
    text-align: center;
    font-size: 40px;
    float: right;
    margin-top: -300px;
    margin-right: 40px;
  }

  .ticker p:last-child {
    color: #FFA500;
    margin-top: -10px;
    font-size: 55px;
  }

  .ticker p:first-child {
    margin-bottom: -15px;
  }
/*******maps/

/*travelguidepages*****/
  .main {
    font-size: 14px;
    font-weight: 300;
    float:left;
    width: 75%;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 40px;
    color: gray;
    padding-left:30px;
  }
  .main h1 {
  font-size: 50px;
  font-family: 'Just Another Hand';
  color: black;
  word-spacing: 5px;
  letter-spacing: 1px;
  }
  .main h3 {
    font-size: 20px;
    margin-right: 70px;
    color: black;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
   font-weight: 600;
   color: #FFA500;
  }
  .content h3 {
    font-size: 25px;
    color:#FFA500 ;
    font-family: 'Just Another Hand';
    letter-spacing: 2px;
    margin-top: 4px;

  }
/**********/

/*----- Accordion --*/
  #accordion h2 {
    font-family: 'Just Another Hand';
    font-size: 25px;
    color: #00BFFF;
    word-spacing: 5px;
    letter-spacing: 3px;
    background: none;
  }
  #accordion {
    max-width: 900px;
    width: 100%;
  }
 
  #accordion h2:hover {
    background: gray;
  }
  #accordion a {
    color: #00BFFF;
  }
  .content {
    padding:15px;
    font-size: 12px;
    display: none;
    font-family: 'Open Sans';
  }
  .boldz {
    font-weight: 500;
  }
  .athlist {
    font-size: 12px;
    list-style: circle;
  }
  .greece0 {
    max-width: 100%;
    height: 220px;
    margin-left: 300px;
    margin-top:3px;
  }
  .greece {
    max-width: 100%;
    height: 220px;
    margin-left: 250px;
    margin-top:3px;
  }
  .greece1 {
    max-width: 100%;
    height:220px;
    margin-left:150px;
    margin-top:3px;
  }
  .greece2 {
    max-width: 100%;
    height: 200px;
    margin-left: 310px;
    margin-top:3px;
  }
  .greece3 {
    max-width: 100%;
    height:200px;
    margin-left: 375px;
    margin-top:3px;
  }
  .greece4 {
    max-width:100%;
    height:200px;
    margin-left:150px;
    margin-top:3px;
  }
  .greece5 {
    max-width: 100%;
    height:200px;
    margin-top:3px;
  }
  .greece6 {
    max-width: 100%;
    height: 200px;
    margin-left: 150px;
    margin-top:3px;
  }
  .greece7 {
    max-width: 100%;
    height: 200px;
    margin-left: 295px;
    margin-top:3px;
  }
  .greece8 {
    max-width: 100%;
    height: 200px;
    margin-top:3px;
  }
  .greece9 {
    max-width: 100%;
    height: 250px;
    margin-left: 300px;
    margin-top:3px;
  }
  .greece10 {
    max-width: 100%;
    height: 250px;
    margin-left: 325px;
    margin-top:3px;
  }
  .greece11 {
    max-width: 100%;
    height: 250px;
    margin-left: 300px;
    margin-top:3px;
  }
  .cavo {
    max-width: 100%;
    height: 250px;
    margin-left: 340px;
    margin-top:3px;
  }
  .wind {
    max-width: 100%;
    height: 200px;
    margin-left: 235px;
    margin-top: 3px;
  }
  .trop {
    max-width: 100%;
    height: 200px;
    margin-left: 235px;
    margin-top: 3px;
  }
  .myk1 {
    margin-left: 200px;
  }
  .myk2 {
    margin-left: 130px;
  }
  .myk1 li {
    text-align: center;
    list-style: none;
    display: inline;
    padding-left: 10px;
  }
  .myk2 li {
    text-align: center;
    list-style: none;
    display: inline;
    padding-left: 10px;
  }
  .myk li {
   text-align: center;
   list-style: none;
   display: inline;
   padding-left:10px;
  }
  .myk4 {
    margin-left:170px;
  }
  .myk4 li {
    text-align: center;
    list-style: none;
    display:inline;
    padding-left:10px;
  }
  .trop1, .trop2 {
    height: 200px;
    max-width: 100%;
  }
  .bullets {
  font-size: 12px;
  font-family: 'Open Sans';
  }
  .content ul {
  list-style-type: circle;
  padding-left: 25px;
  }
/***********accordion/


/*sidebar*********/
  .sidebar {
    font-size: 14px;
    float: right;
    width: 20%;
    margin-top:10px;
    margin-right:40px;
    text-align: center;
    color: black;
    border-left: 1px solid black;
    padding-left: 30px;
  }
  .sidebar h5 {
    color: #FFA500 ;
    font-family: 'Just Another Hand';
    font-size: 35px;
    letter-spacing: 5px;
  }
  .sidebar h6 {
    color: #00BFFF;
    font-family: 'Just Another Hand';
    font-size: 25px;
  }
  .mepic {
    width: 160px;
    height:130px;
    margin-top:10px;
  }
  .posts a {
    color: black;
  }
  .hello {
    margin: 0px 10px 10px 10px;
  }
  .recent {
    margin: 10px;
  }
  .current {
    margin: 10px;
  }
/**********sidebar**/


/*footer*****/
  footer {
    text-align: center;
    height: 200px;
    padding: 50px;
    margin-top: 60px;
    background: gray;
    font-family: 'Just Another Hand';
    font-size: 30px; 
  }
  footer p {
      font-family: 'Just Another Hand';
      font-size: 20px;
      margin-top: -10px;
  }
  footer p:last-child{
      text-align: right;
      font-size: 25px;
      padding-bottom: -10px;
      padding-top: 10px;
  }
  .social img {
     width: 30px;
    height: 30px;
  }
/*******footer**/

/*responsive****/
  
  @media screen and (max-width:1250px) and (min-width: 980px){
    nav{
    font-size: 18px;
    }
  }
  @media screen and (max-width:980px) and (min-width: 768px){
    nav{
    font-size: 12px;
    }
    .sidebar {
      display: none;
    }
    .hidden-xs {
      display: none;
    }
    .with-rms {
      display: inline;
      font-family: 'Great Vibes', Arial, Sans-serif;
      font-size: 50px;
      color: #00BFFF;
      margin-left: -180px;
      position: relative;
      top: 10px;
    }
    header .container {
      position: relative;
    }
    .nav-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 50px;
      width: 30px;
    }
    body{
      font-size: 10px;
    }
    header {
      min-height: 100px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    header h1 {
      font-size: 80px;
      text-align: center;
    }
    header h2 {
      font-size: 50px;
      text-align: left;
      margin: 0 auto;
      position: relative;
      top: -50px;
      left: -450px;
    }
    .nav {
      width: 100%;
      text-align: center;
    }
    .nav li {
      display: block;
      min-height: 40px;
      font-size: 15px;
    }
    .nav li:first-child {
      margin-top: 0px;
    }
    .nav li:last-child {
      margin-top: 0px;
    }
    .intro p {
      width: 60%;
      font-size: 25px;
      margin: 0 auto;
      padding: 0 auto;
    }
    .aboutme{
      width:90%;
      max-height: 500px;
      min-height: 300px;
      margin: 0 auto;
      margin-top: -30px;
      padding-bottom: 20px;
    }
    .aboutme p {
      width: 90%;
      margin: 0 auto;
      font-size: 12px;
      padding-top: -50px;
    }
    .aboutme h2 {
      font-size: 40px;
      margin: 0 auto;
    }
    .aboutme img {
      width: 200px;
      height: 200px;
    }
    .maps h3 {
      font-size: 28px;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .maps h5{
      font-size: 15px;
    }
    .maps {
      text-align: center;
    }
    .mapz {
      margin-top: 10px;
    }
    #accordion{
    width:98%;
    }
    #accordion .content {
      width: 100%;
    }
    .container {
      width: 100%;
      margin: 0 auto;
      margin-left: 0px;
    }
    .container img {
      margin-left: 0px;
    }
    .container p {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
    #vmap {
      width:70%;
      height: 50%;
    }
    .ticker {
      display: none;
    }

    .main {
      width: 100%;
    }
    .main p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px){
    .hidden-xs {
      display: none;
    }
    .with-rms {
      display: inline;
      font-family: 'Great Vibes', Arial, Sans-serif;
      font-size: 30px;
      color: #00BFFF;
      margin-left: -130px;
      position: relative;
      top: 8px;
    }
    header .container {
      position: relative;
    }
    .nav-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 50px;
      width: 30px;
    }
    body{
      font-size: 10px;
    }
    header {
      min-height: 100px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    header h1 {
      font-size: 55px;
      text-align: center;
    }
    header h2 {
      font-size: 25px;
      text-align: left;
      margin: 0 auto;
      position: relative;
      top: -50px;
      left: -450px;
    }
    .nav {
      width: 100%;
      text-align: center;
    }
    .nav li {
      display: block;
      min-height: 40px;
      font-size: 15px;
    }
    .nav li:first-child {
      margin-top: 0px;
    }
    .nav li:last-child {
      margin-top: 0px;
    }
    .intro p {
      width: 60%;
      font-size: 25px;
      margin: 0 auto;
      padding: 0 auto;
    }
    .aboutme{
      width:90%;
      min-height: 200px;
      margin: 0 auto;
    }

    .aboutme p {
      width: 90%;
      margin: 0 auto;
      padding-top: -10px;
      padding-bottom: 5px;
    }

    .aboutme h2 {
      font-size: 40px;
      margin: 0 auto;
    }

    .aboutme img {
      width: 200px;
      height: 200px;
    }
    .maps h3 {
      font-size: 28px;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .maps h5{
      font-size: 15px;
    }
    
    #accordion{
    width:98%;
    /*max-width: 317px;*/
    }
    .main {
      width: 98%;
    }
    .main h1 {
      text-align: left;
      font-size: 40px;
    }
    .main p {
      font-size: 11px;
    }
    .expect {
      width: 100%;
    }
    #accordion .content p {
      width: 100%;
    }
    .container {
      margin: 0 auto;
      width: 98%;
    }
    .container img {
      margin-left: 0px;
    }
    .container p {
      padding-right: 20px;
    }
    .sidebar {
      display: none;
    }
    #vmap {
      width:90%;
      height: 40%;
    }
    .ticker {
      display: none;
    }
  }

